.main-page__content{
    font-size:16pt;
    font-family: 'Quicksand, sans-serif';
    text-decoration: none;
}
.main-page__content:hover{
    text-decoration: none;
    color: #000000;

}
.aside__link{
    color: #000000;
    text-decoration: none;

}
.aside__link:hover{
    text-decoration: none;
}
.aside__head{
    font-size: 15pt;
}
.aside__img{
    padding-top: 50px;
}